body {
  background-color: rgb(255, 255, 255);
}

.main-container{
  font-family:Arial, Helvetica, sans-serif;
  text-align:center;
  overflow:hidden;
  margin-top: -52px;
  background-color:aqua;
  width: 800px;
  left: 30%;
  position:absolute;
}
.main-container > ul
{
  left: 0;
  position:absolute;
  margin-top: -8px;
  background-color: aqua;

}
.tab{
  width: 800px;
  margin-top: 52px;
  height: 200px;
}
.Tabs {
  width: 30%;
  font-family: sans-serif;
  position: absolute;
  color: #444;
  left: 35%;
  border: 1px solid black;
  margin-left: 100px;
}
.Tabs ul.Panel {
  list-style: none;
  padding: 0;

}
.main-container > ul > li{
  background-color: aliceblue;
}

.main-container > ul,.main-container > ul > li {
  display: inline-block;
  margin-left: 0;
  padding: 0px 0px 10px 0px;
  transition: all 0.5s;
  font-family: Lato, sans-serif;
  font-weight: 300;
  cursor: pointer;
  color: #aaa;
  margin-top: 1px;
  margin-right: 10px;
  margin-bottom: -10px;
  padding-top: 10px;
 
 
}

ul.Panel,
li.selected {
  background-color: blueviolet;
  color: #444;
}
.content{
  background-color: red;
  height: 200px;
}

