.swsd2{
    padding:23px;
    display: block;
}
.dwas2{
    float: left;
    width: 22%;
}
.fjwo3{
    margin-bottom: 16px;
}
.geoij2{
    color: #8F8F8F;
    font-size: 14px;
    line-height: 20px;
    white-space: normal;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
}